body {
    height: 100%;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    background: #d3d3d3;

}

html, body {
    height: 100%;
}


h1 {
    color: #ffffff;
    font-family: "Helvetica";
}

.page-header {
    background-color: #F9EE59;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}


.row {
}

.table td{
    background: white;
}

.table tr {
    background: #393939;
}

.col-sm-2 {
    background: #393939;
    height: 100vh;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    color: white;
}

footer {
    background: #393939;
    color: white;
    font-variant-caps: all-small-caps;
    text-align: center;
}


h1, h2, h3, h4 {
    font-family: 'Helvetica';
    font-variant: all-small-caps;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
    color: #393939;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.passengers {
    margin-bottom: 70px;
}

.passengers h1 a, .passengers h1 a:visited {
    color: #000000;
}