{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% block title %}{% endblock %}
    <meta charset="UTF-8">
    <title>Flights</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flights.css' %}">

</head>
<body>


<div class="container-fluid">
    <div class="row">
        <div class="page-header">
            <p>
            <p style="float: left;">
                <img src="{% static 'airplane.png' %}" class="header-image" height="50px" width="50px" border="1px">
            </p>
            <h1><a href="{% url 'flights_list' %}" class="header-title">Airanna Airlines</a></h1>
            <h3><a id="crews-link" href="/static/flights/crew_list.html">Crews</a></h3>
            <p class="login" style="float:right;">
                {% block logout %}
                    {% if user.is_authenticated %}
                        Hi {{ user.username }}!
                        <a href="{% url 'logout' %}">logout</a></p>
                    {% else %}
                        Hi Stranger!
                        <a href="{% url 'login' %}">login</a></p>
                    {% endif %}
                {% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="filter">
            {% block filter %}
            {% endblock %}
        </div>

    </div>
    <div class="row">
        <div class="flights">
            {% block content %}
                {% block table %}
                {% endblock %}
            {% endblock %}
        </div>
    </div>
</div>


</body>
<footer>
    Copyright Airanna Airlines<br>
    Warsaw 2018


</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/crews_api.js' %}"></script>
{% block javascript %}{% endblock %}

</html>