{%  extends 'flights/base.html' %}
{% block content %}
    <h3>Airplane: {{ flight.airplane }}</h3>
    <h4> Tickets left: {{ tickets }} </h4>
    <h2> {{ flight.startingAirport }} - {{ flight.landingAirport }}</h2>
    {{ flight.startingTime }} - {{ flight.landingTime }}
    <h2>Passengers:</h2>
    {%  for pass in flight.passengerslist %}
        <p>{{ pass }} {{ pass.nrOfTickets }}</p>
    {%  endfor %}
{% endblock %}
{% block sidebar %}
    {% if error %}
        <p>Sorry, there aren't enough places for this flight.</p>
    {%  endif %}
    {% if errorname %}
        <p>Write your name and surname correctly.</p>
    {% endif %}
    <h3>Buy ticket!</h3>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
    {% if user.is_authenticated %}
        <button type="submit" class="save btn btn-default">Save</button>
    {%  else %}
        <p>Log in so you can purchase your tickets.</p>
        <a href="{% url 'login' %}">login</a>
    {%  endif %}
    </form>
{%  endblock %}
